*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 html, body{
     height: 100%;
     width: 100%;
 
 }

 
header{
background-color: #fcf5eb;

height:64px;
display:flex;
align-items: center;
justify-content: center;
max-width: 100%;
min-width:100%;
position: fixed;
top:0;
z-index:1000;

}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    width: 100%;
}

#others ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#others ul  a {
    display: flex;
    
    

text-decoration: none;

}





