body{
    background-color: black;
}

header{
 background-color: #fcf5eb;
align-items: center;
height:64px;
display:flex;
justify-content: center;
max-width: 100%;
min-width:100%;
position: fixed;
top:0;
z-index:1000;

}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    position:unset;
    width: 100%;
}

.others{
font-size: 18px;
line-height: 25px;
letter-spacing: -0.01em;
font-weight:400;
align-items:center;
display:flex;
justify-content:center;
position: absolute;
width:100%;
list-style-type: none;
text-decoration: none;

}





